@import url("https://fonts.googleapis.com/css2?family=Dongle&family=East+Sea+Dokdo&family=Gothic+A1:wght@300&family=Hahmlet:wght@300&family=Lobster&display=swap");
@import "reset.css";
@import "todo.css";

body {
  background-color: lightgray;
  font-family: "Gothic A1", sans-serif;
  color: black;
  font-size: 40px;
}

.hidden {
  display: none;
}

#backGroundImg {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: -1;
}

#entrance {
  text-align: center;
  display: block;
  margin: 30px;
  font-size: 50px;
  font-family: "Lobster";
}

#entrance input {
  font-size: 24px;
}

#kotowaza {
  display: block;
  margin: 20px;
  text-align: center;
  font-family: "East Sea Dokdo";
  font-size: 48px;
  /*text-shadow: -1px -1px 0.02em black, 1px -1px 0.02em black,
    -1px 1px 0.02em black, 1px 1px 0.02em black;*/
}

#meaning {
  display: block;
  margin: 20px 120px;
  text-align: center;
  font-family: "Hahmlet";
  font-size: 20px;
  /*text-shadow: -1px -1px 0.02em black, 1px -1px 0.02em black,
    -1px 1px 0.02em black, 1px 1px 0.02em black;*/
}
