@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Open+Sans&display=swap");
@import "reset.css";

body {
  background-color: black;
  font-family: "Dongle", sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: -1px -1px 0.02em black, 1px -1px 0.02em black,
    -1px 1px 0.02em black, 1px 1px 0.02em black;
}

.hidden {
  display: none;
}

#backGroundImg {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: -1;
}
